:root {
  --white: 244, 227, 243;
  --lavender: 160, 122, 171;
  --indigo: 63, 26, 155;
  --violet: 135, 67, 145;
  --red: 215, 72, 98;
  --maroon: 98, 22, 32;
  --deep-purple: 19, 2, 24;
  --blue: 39, 79,140;
  --black: 11, 9, 23;
  --green: 53, 94, 59;
  --turquoise: 16, 65, 59;
  --orange: 252, 185, 104;
  --pink: 219, 63, 94;
  --yellow: 255, 199, 112;
  
  --bs-primary: var(--green);
  --bs-secondary: var(--indigo);
  --color1: var(--green);
  --color2: var(--turquoise);
  --color3: var(--black);
  --color4: var(--maroon);
  --color5: var(--red);
  --color6: var(--violet);
  --color7: var(--orange);
  --color8: var(--yellow);
  --color9: var(--deep-purple);
  --color10: var(--indigo);
}

body {
  background-image: url(./Components/Theme/milky-way-scroll.jpg);
  background-size: 100%;
  background-color: rgba(var(--deep-purple), 1);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  margin-top: 100px;
  margin-bottom: 100px;
}

.navbar {
  background-color: rgb(var(--bs-primary));
}

.btn-primary {
  background-color: rgb(var(--bs-secondary));
  border-color: rgb(var(--bs-secondary));
}

.btn-primary:hover {
  background-color: rgb(var(--blue));
  border-color: rgb(var(--blue));
}

.profile {
  max-width: 50%;
}

@media screen and (min-width: 576px) {
  .profile {
    max-width: 100%;
    ;
  }
}

strong {
  color: rgba(var(--orange), 1);
}

header strong {
  color: rgb(var(--white));
}

.bi-geo-alt-fill {
  color: rgb(var(--bs-secondary));
}

.timeline section {
  padding-bottom: 1em;
}

.timeline section>* {
  padding-left: 1em;
  padding-right: 1em;
}

.timeline section:nth-child(odd) {
  border-top-left-radius: 5px;
  border-left: solid 5px rgb(var(--bs-primary));
}

.timeline section:nth-child(even) {
  border-top-right-radius: 5px;
  border-right: solid 5px rgb(var(--bs-primary));
}

.timeline section:last-child {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom: solid 5px rgb(var(--bs-primary));
}

.timeline h2 {
  background-color: rgb(var(--bs-primary));
  color: rgb(var(--white));
}

.timeline section:first-child h2 {
  border-top-right-radius: 5px;
}

.timeline section:nth-child(odd) h2 {
  border-bottom-right-radius: 5px;
}

.timeline section:nth-child(even) h2 {
  border-bottom-left-radius: 5px;
}

.card {
  width: 19rem;
  max-width: 100%;
}

/* badge colors */

.group1 {
  background-color: rgba(var(--color1), 0.8) !important;
  color: rgb(var(--white));
}

.group2 {
  background-color: rgba(var(--color2), 0.8) !important;
  color: rgb(var(--white));
}

.group3 {
  background-color: rgba(var(--color3), 1) !important;
  color: rgb(var(--white));
}

.group4 {
  background-color: rgba(var(--color4), 0.8) !important;
  color: rgb(var(--white));
}

.group5 {
  background-color: rgba(var(--color5), 1) !important;
  color: rgb(var(--white));
}

.group6 {
  background-color: rgba(var(--color6), 1) !important;
  color: rgb(var(--white));
}

.group7 {
  background-color: rgba(var(--color7), 1) !important;
  color: rgb(var(--black));
}

.group8 {
  background-color: rgba(var(--color8), 0.6) !important;
  color: rgb(var(--black));
}

.group9 {
  background-color: rgba(var(--color9), 0.8) !important;
  color: rgb(var(--white));
}

.group10 {
  background-color: rgba(var(--color10), 1) !important;
  color: rgb(var(--white));
}