:root {
  --bs-primary: 53, 94, 59;
  --bs-secondary: 135, 67, 145;
}

main {
  margin-top: 100px;
  margin-bottom: 100px;
}

.navbar {
  background-color: rgb(var(--bs-primary));
}

.btn-primary {
  background-color: rgb(var(--bs-secondary));
  border-color: rgb(var(--bs-secondary));
}

.btn-primary:hover {
  background-color: rgb(var(--bs-primary));
  border-color: rgb(var(--bs-primary));
}

.profile {
  max-width: 50%;
}

@media screen and (min-width: 576px) {
  .profile {
    max-width: 100%;
    ;
  }
}

strong {
  color: rgb(var(--bs-primary));
}

header strong {
  color: white;
}

.bi-geo-alt-fill {
  color: rgb(var(--bs-secondary));
}

.timeline section {
  padding-bottom: 1em;
  background-color: rgba(var(--bs-secondary), 0.05);
}

.timeline section>* {
  padding-left: 1em;
  padding-right: 1em;
}

.timeline section:nth-child(odd) {
  border-top-left-radius: 5px;
  border-left: solid 5px rgb(var(--bs-primary));
}

.timeline section:nth-child(even) {
  border-top-right-radius: 5px;
  border-right: solid 5px rgb(var(--bs-primary));
}

.timeline section:last-child {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom: solid 5px rgb(var(--bs-primary));
}

.timeline h2 {
  background-color: rgb(var(--bs-primary));
  color: white;
}

.timeline section:first-child h2 {
  border-top-right-radius: 5px;
}

.timeline section:nth-child(odd) h2 {
  border-bottom-right-radius: 5px;
}

.timeline section:nth-child(even) h2 {
  border-bottom-left-radius: 5px;
}

.card {
  width: 19rem;
  max-width: 100%;
}

.orange {
  background-color: orange !important;
  color: black;
}

.indigo {
  background-color: indigo !important;
  color: white;
}