:root {
  --bs-primary: 53, 94, 59;
  --bs-secondary: 135, 67, 145;
  --color1: 53, 94, 59;
  --color2: 65, 112, 102;
  --color3: 41, 39, 42;
  --color4: 48, 18, 22;
  --color5: 186, 0, 0;
  --color6: 123, 63, 0;
  --color7: 242, 133, 0;
  --color8: 252, 210, 82;
  --color9: 119, 136, 153;
  --color10: 214, 229, 232;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  margin-top: 100px;
  margin-bottom: 100px;
}

.navbar {
  background-color: rgb(var(--bs-primary));
}

.btn-primary {
  background-color: rgb(var(--bs-secondary));
  border-color: rgb(var(--bs-secondary));
}

.btn-primary:hover {
  background-color: rgb(var(--bs-primary));
  border-color: rgb(var(--bs-primary));
}

.profile {
  max-width: 50%;
}

@media screen and (min-width: 576px) {
  .profile {
    max-width: 100%;
    ;
  }
}

strong {
  color: rgb(var(--bs-primary));
}

header strong {
  color: white;
}

.bi-geo-alt-fill {
  color: rgb(var(--bs-secondary));
}

.timeline section {
  padding-bottom: 1em;
  background-color: rgba(var(--bs-secondary), 0.05);
}

.timeline section>* {
  padding-left: 1em;
  padding-right: 1em;
}

.timeline section:nth-child(odd) {
  border-top-left-radius: 5px;
  border-left: solid 5px rgb(var(--bs-primary));
}

.timeline section:nth-child(even) {
  border-top-right-radius: 5px;
  border-right: solid 5px rgb(var(--bs-primary));
}

.timeline section:last-child {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom: solid 5px rgb(var(--bs-primary));
}

.timeline h2 {
  background-color: rgb(var(--bs-primary));
  color: white;
}

.timeline section:first-child h2 {
  border-top-right-radius: 5px;
}

.timeline section:nth-child(odd) h2 {
  border-bottom-right-radius: 5px;
}

.timeline section:nth-child(even) h2 {
  border-bottom-left-radius: 5px;
}

.card {
  width: 19rem;
  max-width: 100%;
}

/* badge colors */

.group1 {
  background-color: rgba(var(--color1), 0.8) !important;
  color: white;
}

.group2 {
  background-color: rgba(var(--color2), 0.8) !important;
  color: white;
}

.group3 {
  background-color: rgba(var(--color3), 0.8) !important;
  color: white;
}

.group4 {
  background-color: rgba(var(--color4), 0.8) !important;
  color: white;
}

.group5 {
  background-color: rgba(var(--color5), 0.8) !important;
  color: white;
}

.group6 {
  background-color: rgba(var(--color6), 0.8) !important;
  color: white;
}

.group7 {
  background-color: rgba(var(--color7), 0.8) !important;
  color: black;
}

.group8 {
  background-color: rgba(var(--color8), 0.8) !important;
  color: black;
}

.group9 {
  background-color: rgba(var(--color9), 0.8) !important;
  color: white;
}

.group10 {
  background-color: rgba(var(--color10), 0.8) !important;
  color: black;
}